@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

.aquasense {
  margin-left: 10px;
  font-family: "Abhaya Libre";
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.login {
  z-index: 10;
  padding: 10px 16px;
  font-family: "Montserrat";
  background: #649468;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  cursor: pointer;
  transition: all 0.5s ease;
}
.login:hover {
  background: white;
  color: #649468;
}
.main {
  height: 90vh;
  display: flex;
}
.maintitle {
  font-family: "Abhaya Libre";
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.mainpart1 {
  flex: 1;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.image-bg {
  flex: 1;
}
.content {
  display: flex;
  height: 80vh;
}
.leftpart {
  padding: 40px;
  font-family: "Abhaya Libre";
  font-size: 18px;
  gap: 20px;
  flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightpart {
  padding: 0px 20px;
}
select {
  margin-top: 4px;
  display: block;
  width: 40vw;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  padding: 0px 10px;
}
input {
  display: block;
  width: 38vw;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  padding: 0px 10px;
}
.submit {
  background: #649468;
  width: 40vw;
  padding: 6px 0px;
  text-align: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: solid;
  transition: all 0.5s ease;
}
.submit:hover {
  background: white;
  color: #649468;
}
.mainchange {
  z-index: 100;
  margin-left: 80px;
}

.mainlogin {
  height: 20px;
}
.container {
  padding: 0px 40px;
  height: 70vh;
  margin-top: 40px;
  border: solid;
  border-color: #649468;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.image {
  display: flex;
  justify-content: flex-start;
}
.container1 {
  display: flex;
  align-items: flex-end;
}
.mm {
  font-size: 40px;
  font-weight: 700;
  color: #649468;
  font-family: "Montserrat";
}
.irreq {
  font-size: 40px;
  font-family: "Montserrat";
  width: 20vw;
}
.circle {
  height: 120px;
  width: 120px;
  border: solid;
  border-width: 10px;
  border-color: #649468;
  border-radius: 50%;
  position: fixed;
  top: 120px;
  left: 60px;
  z-index: 100;
}
.intro {
  width: 40vw;
  margin-left: 180px;
}
/* Login page style */
.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.brandname {
  padding: 1%;
  font-family: "Abhaya Libre";
  color: black;
  font-weight: 800;
}
.login-container {
  background-color: #649468;
  height: 90vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  gap: 40px;
}
.login-page-container {
  margin-top: -20px;
  display: flex;
}
.heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
.textbox {
  font-family: "Montserrat";
  background: transparent;
  border: 1.5px solid white;
  border-radius: 10px;
  width: 400px;
  padding: 3%;
  color: #ffffff;
  outline: none;
}
.login-submit {
  font-family: "Montserrat";
  width: 100%;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-align: center;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.login-submit:hover {
  background: #000;
  color: white;
}

::placeholder {
  color: white;
}
.subh {
  font-family: "Montserrat";
  font-weight: 100;
  text-align: center;
}
.signuplink {
  font-family: "Montserrat";
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.main-content {
  font-family: "Montserrat";
}
.main-container {
  height: 100vh;
  overflow: hidden;
}
.prediction {
  font-family: "Montserrat";
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.loader_container {
  margin-left: 35vw;
}
.hide_loader {
  display: none;
}
.prediction {
  margin-left: -10vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  /* Styles specific to screens with a maximum width of 768px or less */
  .rightpart {
    width: 0px;
    overflow: hidden;
    padding: 0px;
  }
  .circle {
    height: 60px;
    width: 60px;
    left: 110px;
    border-width: 7px;
  }
  .mainlogin {
    margin-right: -40px;
    font-size: 15px;
  }
  .leftpart {
    font-size: 15px;
  }
  select {
    width: 30vw;
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
    padding: 0px 10px;
  }
  input {
    width: 25vw;
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
    padding: 0px 10px;
  }

  .image-bg {
    display: none;
  }
  .image-bottom {
    width: 100vw;
    overflow: hidden;
  }
  .maintitle {
    font-size: 60px;
  }
}
