<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body style="height: 100vh; width: 100vw; overflow: hidden">
    <div class="navbar" style="margin-right: 30px">
      <div class="brandname">Aquasense</div>
      <div class="login"><a href="/login">Login</a></div>
    </div>
    <div class="main">
      <div class="mainpart1">
        <div class="maintitle">
          <div>
            <span style="color: #649468">Smarter</span>
            Way
          </div>
          <div>to Irrigate</div>
        </div>

        <div class="main-content">
          <p class="intro">
            Introducing AquaSense, the ultimate smart irrigation app that
            revolutionizes the way you manage and conserve water for your lawn
            and garden. With AquaSense, you can effortlessly control your
            irrigation system from anywhere, at any time, using your smartphone
            or tablet.
          </p>
        </div>
      </div>
      <div class="image-bg">
        <img
          src="{{ url_for('static', filename='Group 4.png') }} "
          style="
            height: 600px;
            width: 1000px;
            margin-left: -340px;
            margin-top: -50px;
          "
        />
      </div>
    </div>
    <div class="image-bottom">
      <img
        src="{{ url_for('static', filename='Rectangle 13.png') }} "
        style="height: 843px; width: 2245px; margin-top: -300px"
      />
    </div>
  </body>
</html>
