<html>
  <head>
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body style="padding: 0px 25px">
    <div class="brandname">Aquasense</div>
    <div class="login-page-container">
      <div class="login-main">
        <img
          src="{{ url_for('static', filename='Group 26.png') }} "
          style="height: 60%; width: 400px"
        />
      </div>

      <div class="login-container">
        <div class="heading">Welcome</div>
        <form
          method="POST"
          action=""
          style="display: flex; flex-direction: column; gap: 25px"
        >
          <input
            class="textbox"
            type="text"
            name="username"
            placeholder="Username"
          />
          <input
            class="textbox"
            type="password"
            name="password"
            placeholder="Password"
          />
          <input
            class="textbox"
            type="email"
            name="email"
            placeholder="Email"
          />
          <input class="login-submit" type="submit" value="Sign Up" />
          <p class="subh">
            Don't have an account ?
            <a class="signuplink" href="/login">Login</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
